@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#campo{
  position: fixed;
  left:50%;
  margin-left:-400px;
  top:0%;
}

.list-contact{
  margin: auto;
  width: 60%;
  border: 3px solid #F36363;
  padding: 10px;
}

.list-contact2{
  width: 50% !important;
  margin: auto !important;
}

.room-text {
  color:black;
}

.list-room ul {
  height: 180px;
  padding: 4%;
  margin: 0;
  border: 3px solid #F36363;
  
}
.list-room ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  position: relative;
}

.box-info-user{
  text-align: center;
  border: 3px solid rgb(37, 161, 238);
  font-size: 25px;
  color: rgb(0, 17, 255);
  width: 50%;
  height: 20%;
  margin: 0 0 10px 0;
}

.box-info-user ul{
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  position: relative;
}

.list-room h3{
  margin-top: 15px;
}

@media only screen and (max-width: 480px) {
  #page #fh5co-header .box-info-user {
    width: 70% !important;
    font-size: 18px !important;
    margin: -10% 0% !important;
  }
  #fh5co-header .box-info-user .player-statistic {
    font-size: 29px !important;
  }
  #fh5co-header .display-tc>span {
    font-size: 30px !important;
    color: black;
  }

  .my-nav div ul li .joinRoom {
    width: 260px !important;
  }

  #modalTable tr td {
    font-size: 18px;
  }

  #myModal .modal-footer button {
    width: 50% !important;
    font-size: 18px;
  }

  #errorMessage {
    font-size: 35px !important;
  }
  #fh5co-header .display-tc .loginForm {
    margin-bottom: -25%;
  }

  #boxElements {
    font-size: 10px !important;
  }
  
  #boxElements .imageLoading{
    width: 50px !important;
    height: 50px !important;
  }
}

@media only screen and (max-width: 767px) {
  body {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image:url("/images/img_bg_2.jpg"); 
    height:100%;
    width: 100%;
    background-attachment: fixed;
  }
  #page {
    background-position: bottom !important;
    background-attachment: fixed;
    background:no-repeat center/100% url("/images/sfondoWeb2.png");
    
  }
  #page .boxInitial {
    display: flex;
    flex-wrap: wrap;
    background-position: bottom !important;
    background-attachment: fixed;
    background:no-repeat center/100% url("/images/sfondoWeb2.png");
  }
  #page .fh5co-cover {
    background-image: none;
  }
  #page .fh5co-cover .overlay {
    background-image: none;
  }

  #page .myMenu {
    display: block;
  }
  .fh5co-nav .left-menu ul li a{
    display: none;
  }
  .fh5co-nav .right-menu ul li a{
    display: none;
  }
  
  #page .fh5co-nav {
    width: 75%;
  }
  .fh5co-nav #fh5co-logo {
	  font-size: 45px;  
  }
  #page #fh5co-header .box-info-user {
    width: 50%;
    font-size: 22px;
    margin: -10% 0% !important;
  }
  #page #fh5co-header .user-data-report {
    margin: 10% 0% !important;
  }
  #fh5co-header .box-info-user .player-statistic {
    font-size: 34px;
  }
  #fh5co-header .display-tc>span {
    font-size: 35px;
    color: black;
  }

  #fh5co-header .display-tc table tr {
    display: flex;
    flex-direction: column;
  }
  #fh5co-header .display-tc table tr td {
    padding: 0% !important;
  }
  #fh5co-header .display-tc button.btn {
    padding: 15px 27px;
    font-size: 16px;
  }

  #page .my-nav {
    margin-top: -5% !important;
    position: absolute;
    top: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-style: none;
  }
  #page .my-nav div {
    width: 90%;
  }

  #page .div.my-nav div::-webkit-scrollbar {
    display: inline-block;
  } 
  #page .my-nav div ul {
    overflow-y: hidden; 
    padding: 0%;
  }
  .my-nav h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Tangerine', cursive, serif;
    color: rgb(188, 207, 219);
  }
  .my-nav div ul li {
    margin-bottom: 5%;
  }

  .my-nav div ul li .joinRoom {
    font-size: 14px;
    width: 400px;
    height: 120px;
  }

  #page .my-nav div ul li .joinRoom table hr {
    margin: 10px 0px;
  }

  #modalTable tr td {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 0%;
  }

  .modal-footer button {
    width: 40% !important;
  }

  #errorMessage {
    font-size: 50px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fh5co-nav .left-menu ul li a{
    font-size: 23px;
  }
  .fh5co-nav .right-menu ul li a{
    font-size: 23px;
  }

  #page .fh5co-nav {
    width: 100% !important;
  }
  .fh5co-nav #fh5co-logo {
	  font-size: 50px;  
  }
  #page #fh5co-header .box-info-user {
    width: 60%;    
  }
  #fh5co-header .box-info-user .player-statistic {
    font-size: 37px;
  }
  #fh5co-header .display-tc button.btn {
    padding: 15px 27px;
    font-size: 17px;
  }
  #fh5co-header .display-tc>span {
    font-size: 40px;
    color: black;
  }

  #page .my-nav {
    position: absolute;
    top: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    border-style: none;
  }
  #page .my-nav div {
    width: 90%;
  }

  #page .div.my-nav div::-webkit-scrollbar {
    display: inline-block;
  } 
  #page .my-nav div ul {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0%;
  }
  .my-nav h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Tangerine', cursive, serif;
    color: rgb(188, 207, 219);
  }
  .my-nav div ul li {
    display: inline-block !important;
    padding-left: 5%;
  }
  .my-nav div ul li:first-child {
    padding-left: 0%;
  }
  .my-nav div ul li .joinRoom {
    font-size: 15px;
    width: 245px;
    height: 140px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .fh5co-nav {
    width: 67% !important;
  }
  .fh5co-nav #fh5co-logo {
	  font-size: 52px;  
  }
  .fh5co-nav .left-menu ul li a{
    font-size: 21px;
  }
  .fh5co-nav .right-menu ul li a{
    font-size: 21px;
  }

  #page .my-nav {
    margin-top: 8%;
    width: 18%;
    height: 65%;
  }
  #page .my-nav div {
    height: 90%;
  }
  .my-nav h1 {
    font-size: 30px;  
  }
  .my-nav div ul li .joinRoom {
    font-size: 11px;
    width: 165px;
    height: 120px;
  }
  #fh5co-header .box-info-user {
    width: 38%;
    height: 20%;
  }
  #fh5co-header .box-info-user .player-statistic {
    font-size: 37px;
  }
  #fh5co-header .display-tc button.btn {
    padding: 15px 27px;
    font-size: 17px;
  }
  #fh5co-header .display-tc>span {
    font-size: 45px;
    color: black;
  }
}

@media only screen and (min-width: 1200px) {
  .fh5co-nav #fh5co-logo {
	  font-size:55px;  
  }
  .fh5co-nav .left-menu ul li a{
    font-size: 25px;
  }
  .fh5co-nav .right-menu ul li a{
    font-size: 25px;
  }

  #page .my-nav {
    margin-top: 5%;
    width: 19%;
    height: 70%;
  }
  #page .my-nav div {
    height: 90%;
  }
  .my-nav h1 {
    font-size: 40px;  
  }
  .my-nav div ul li .joinRoom {
    font-size: 13px;
    width: 200px;
    height: 125px;
  }
  #fh5co-header .box-info-user {
    width: 40%;
    height: 20%;
  }
  #fh5co-header .box-info-user .player-statistic {
    font-size: 40px;
  }
  #fh5co-header .display-tc button.btn {
    padding: 15px 30px;
    font-size: 18px;
  }
  #fh5co-header .display-tc>span {
    font-size: 45px;
    color: black;
  }
}
 
@media only screen and (min-width: 1500px) {
  .fh5co-nav #fh5co-logo {
	  font-size: 70px;  
  }
  .fh5co-nav .left-menu ul li a{
    font-size: 30px;
  }
  .fh5co-nav .right-menu ul li a{
    font-size: 30px;
  }

  #page .my-nav {
    margin-top: 0%;
    width: 20%;
    height: 80%;
  }
  #page .my-nav div {
    height: 90%;
  }
  .my-nav h1 {
    font-size: 45px;  
  }
  .my-nav div ul li .joinRoom {
    font-size: 17px;
    width: 250px;
    height: 150px;
  }
  #fh5co-header .box-info-user {
    width: 50%;
    height: 20%;
  }
  #fh5co-header .box-info-user .player-statistic {
    font-size: 40px;
  }
  #fh5co-header .display-tc button.btn {
    padding: 15px 30px;
    font-size: 18px;
  }
  #fh5co-header .display-tc>span {
    font-size: 50px;
    color: black;
  }
}

.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #F36363;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #F36363;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Playfair Display", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #F36363;
}

::-moz-selection {
  color: #fff;
  background: #F36363;
}

::selection {
  color: #fff;
  background: #F36363;
}

.my-nav {
  position: absolute;
  top: 10%;
  display: block;
  width: 20%;
  padding: 2% 0.5%;
  z-index: 1001;
  border-style: double;
  border-left: none;
  text-align: center;
  border-color: black;
  border-width: 5;
}

div.my-nav div {
  height: 90%;
  overflow-y:scroll;
  display: flex;
  justify-content: center;

/* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
div.my-nav div::-webkit-scrollbar {
  display: none;
}

div.my-nav div ul {
  list-style: none;
  padding: 0% 10%
}

div.my-nav div ul li {
  padding-bottom: 7.5%;
}

div.my-nav div ul li button {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
}

#page .boxRoute {
  width: 100%;
  display: flex;
  justify-content: center;
}

#page .boxRoute .fh5co-nav {
  position: absolute;
  top: 2em;
  margin: 0;
  padding: 0;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  z-index: 1001;
}

.fh5co-nav .left-menu {
  display: inline-block;
  width: 20%;
  float: left;
}

.fh5co-nav .right-menu {
  display: inline-block;
  width: 20%;
  float: right;
}

.fh5co-nav .center-menu {
  display: inline-block;
  float: center;
}

.fh5co-nav #fh5co-logo {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Tangerine', cursive, serif;
}

.fh5co-nav a {
  padding: 5px 10px;
  color: red;
}

.fh5co-nav ul {
  padding: 0;
  margin: 7px 0 0 0;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-nav ul li a {
  font-size: 25px;
  padding: 30px 15px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: white;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.fh5co-nav ul li.active > a {
  color: #fff !important;
  position: relative;
}
.fh5co-nav ul li.active > a:after {
  background: #fff;
  height: 2px;
  width: 50%;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  content: "";
  margin: 0 auto;
}

#fh5co-header,
#fh5co-counter,
.fh5co-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
  position: relative;
}

#fh5co-header a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#fh5co-header a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.fh5co-cover {
  height: 800px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  background-image:url("/images/img_bg_2.jpg"); 
  height:100%;
  width: 100%;
}
.fh5co-cover .overlay {
  z-index: 0;
  position: absolute;
  background-size: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background:no-repeat center/100% url("/images/sfondoWeb2.png");
  background-position: bottom;
  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e1c', endColorstr='#ff8c00', GradientType=1 );
}
.fh5co-cover > .fh5co-container {
  position: relative;
  z-index: 10;
}

.fh5co-cover .display-space {
  height: 900px;
  width: 100%;
}

.display-space-top h1 {
  display: inline-block;
  word-spacing: normal;
}

.fh5co-cover .display-space h1 h2 {
  color: black;
}

.display-space-top .list-contact2 h3 {
  color: blue;
  display: inline-block;
}

.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  z-index: 9;
  height: 900px;
  display: table;
  width: 100%;
}
 
.fh5co-cover.fh5co-cover-sm {
  height: 600px;
}

.fh5co-cover.fh5co-cover-sm .display-t,
.fh5co-cover.fh5co-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}

#fh5co-header .display-tc,
#fh5co-counter .display-tc,
.fh5co-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#fh5co-header .display-tc h1, #fh5co-header .display-tc h2,
#fh5co-counter .display-tc h1,
#fh5co-counter .display-tc h2,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#fh5co-header .display-tc h1,
#fh5co-counter .display-tc h1,
.fh5co-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#fh5co-header .display-tc h2,
#fh5co-counter .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#fh5co-header .display-tc .btn,
#fh5co-header .display-space-top .btn,
#fh5co-counter .display-tc .btn,
.fh5co-cover .display-tc .btn {
  padding: 15px 30px;
  background: #F36363;
  color: #fff;
  border: none !important;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header .display-tc .btn:hover,
#fh5co-counter .display-tc .btn:hover,
.fh5co-cover .display-tc .btn:hover {
  background: #251f1f !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}
#fh5co-header .display-tc .form-inline .form-group,
#fh5co-counter .display-tc .form-inline .form-group,
.fh5co-cover .display-tc .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-header .display-tc .form-inline .form-group .form-control,
#fh5co-counter .display-tc .form-inline .form-group .form-control,
.fh5co-cover .display-tc .form-inline .form-group .form-control {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-services,
#fh5co-started,
#fh5co-testimonial,
#fh5co-blog,
#fh5co-project,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
  padding: 7em 0;
  clear: both;
}

.about-content {
  margin-bottom: 7em;
}
.about-content img {
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.about-content .desc {
  margin-bottom: 3em;
}

.fh5co-staff {
  text-align: center;
  margin-bottom: 30px;
}
.fh5co-staff img {
  width: 170px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.fh5co-staff p {
  margin-bottom: 30px;
}
.fh5co-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #F36363;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

.fh5co-contact-info ul {
  padding: 0;
  margin: 0;
}
.fh5co-contact-info ul li {
  padding: 0 0 0 40px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
.fh5co-contact-info ul li:before {
  color: #F36363;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fh5co-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
.fh5co-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.fh5co-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.fh5co-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

.feature-center {
  padding-left: 60px;
  padding-right: 20px;
  float: left;
  width: 100%;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 40px;
}

.feature-center .desc {
  padding-left: 180px;
}
.feature-center .icon {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.feature-center .icon i {
  font-size: 40px;
  color: #F36363;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center p:last-child {
  margin-bottom: 0;
}
.feature-center h3 {
  font-size: 22px;
  color: #5d5d5d;
}

#fh5co-project .fh5co-project {
  margin-bottom: 30px;
}
#fh5co-project .fh5co-project > a {
  display: block;
  color: #000;
  position: relative;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-project .fh5co-project > a img {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-project .fh5co-project > a:after {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  z-index: 8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-project .fh5co-project > a h3, #fh5co-project .fh5co-project > a span {
  z-index: 12;
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 50px;
  color: #fff;
  margin: 0;
  padding: 0;
  opacity: 1;
  font-size: 30px;
  font-weight: 300;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-project .fh5co-project > a span {
  font-size: 14px;
  bottom: 20px;
}
#fh5co-project .fh5co-project > a:hover {
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}
#fh5co-project .fh5co-project > a:hover:after {
  opacity: 1;
  visibility: visible;
}

#fh5co-project .fh5co-project > a:hover h3, #fh5co-project .fh5co-project > a:hover span {
  opacity: 1;
  bottom: 55px;
}
#fh5co-project .fh5co-project > a:hover span {
  bottom: 15px;
}
#fh5co-project .fh5co-project > a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.fh5co-blog {
  margin-bottom: 60px;
}
.fh5co-blog > a {
  display: block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-blog > a img {
  width: 100%;
}
 
.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  width: 100%;
  padding: 30px;
  float: left;
  margin-top: -5em;
  -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}
.fh5co-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
}
.fh5co-blog .blog-text span.posted_on {
  color: white;
  font-size: 18px;
  padding: 2px 10px;
  padding-left: 40px;
  margin-left: -40px;
  background: #F36363;
  position: relative;
}
.fh5co-blog .blog-text span.posted_on:before {
  position: absolute;
  top: -9px;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 9px 9px;
  border-color: transparent transparent #F36363 transparent;
}
.fh5co-blog .blog-text span.comment {
  float: right;
}
.fh5co-blog .blog-text span.comment a {
  color: rgba(0, 0, 0, 0.3);
}
.fh5co-blog .blog-text span.comment a i {
  color: #F36363;
  padding-left: 7px;
}
.fh5co-blog .blog-text h3 {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.fh5co-blog .blog-text h3 a {
  color: black;
}

.fh5co-heading {
  margin-bottom: 2em;
}
.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 2em;
}
.fh5co-heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
}
.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}

#fh5co-testimonial {
  position: relative;
}
#fh5co-testimonial .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
#fh5co-testimonial .fh5co-heading h2 {
  color: white;
}
#fh5co-testimonial .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#fh5co-testimonial .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-testimonial .box-testimony a:hover, #fh5co-testimonial .box-testimony a:focus, #fh5co-testimonial .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#fh5co-testimonial .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-testimonial .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#fh5co-testimonial .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #F36363;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimonial .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-testimonial .box-testimony blockquote p {
  letter-spacing: 1px;
  font-family: "Playfair Display", Arial, serif;
}
#fh5co-testimonial .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
#fh5co-testimonial .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

#fh5co-started {
  background: #392f2f;
}
#fh5co-started .fh5co-heading h2 {
  color: #fff;
  margin-bottom: 20px !important;
}
#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-started .btn {
  height: 54px;
  border: none !important;
  background: #F36363;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
}
#fh5co-started .btn:hover {
  background: #f04242 !important;
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
}
#fh5co-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-started .form-inline .form-group .form-control {
  width: 100%;
}

#fh5co-footer {
  background: lightgray;
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}

#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px dotted black;
}
#fh5co-footer .fh5co-footer-links li a {
  color: #000;
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}

#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #fff;
  background: #fff;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #fff;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #F36363;
  color: #fff;
  border: 2px solid #F36363;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f57b7b !important;
  border-color: #f57b7b !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #F36363;
  border: 2px solid #F36363;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #F36363;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 5px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #F36363;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

div.display-tc {
 width: 100%;
}

div.display-tc.animate-box>div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}

div.display-tc.animate-box table {
  width: 100%;
}

#fh5co-header-subscribe #email {
  padding-right: 9em;
}
#fh5co-header-subscribe button {
  position: absolute;
  top: 0;
  right: 10px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.modal {
  font-family: 'Tangerine', cursive, serif;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1007; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.boxModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black; 
  opacity: 1;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #888;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  background-color: red;
}

.modal-header h2 {
  color: white;
}

.modal-body table {
  width: 100%;
  height: 100%;
  font-size: 19px;
}

.modal-body table tr td {
  padding-bottom: 0.5%;
}

.modal-body table tr td input {
  width: 100%;
}

.modal-body table tr td #textError {
  width: 100%;
  height: 100%;
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 1.5%;
  color: white;
}

.modal-footer button {
  width: 18%;
  height: 8%;
  color: black;
  font-size: 22px;
  padding: 1%;
}

.modal-footer button:hover {
  background-color: blue;
  color: white;
}

.myMenu {
  z-index: 1005;
  position: absolute;
  font-size:30px;
  cursor:pointer;
  margin-left: 6%;
  margin-top: 6%;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1006;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.user-data-report {
  margin-top: 10%;
}

#fh5co-header .container .player-statistic {
  color: rgba(255, 255, 0, 0.76);
}

#roomList .nicknameDefault {
  color: grey;
  font-weight: bold;
  font-style: italic;
}

#fh5co-contact {
  background-color: white;
}

#boxElements {
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
}

#boxElements .imageLoading{
  width: 80px;
  height: 80px;
}

.field-center {
  display: flex;
  justify-content: center;
}

.show-game {
  position: absolute;
  z-index: 1;
}