.sfondo{
/*    background-image: url("../img/sfondo2.png") fixed bottom; */
    background-size: 100%;

    background: url("./www/img/sfondoWeb2.png");
    background-repeat: no-repeat; 
    background-position: bottom;
  /*  background-origin: border-box;*/
}
/*

* {
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right:15px;
    width: 100%;
}

@media only screen and (min-width: 600px) {

	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
*/

.menu-top{
    background: rgb(29, 29, 29);
    color: #fff;
}

.menu-top .menu{
    list-style: none;
    margin: 0;
    float: right;
}

.menu-top .menu .menu-item{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    
  
}

.menu-top .menu .menu-item:hover{
    background: #333;
}

/*
.hello-msg{
    color: #fff;
    background: rgb(44, 44, 44);
    padding:40px;

}
*/

/*
.btn{
    background: #aaa;
    color: #222;
    padding: 8px;
    border: 1px solid #999;
    cursor: pointer;
    padding-left:12px;
    padding-right:12px;
}
*/
.btn.btn-red{
    color: #fff;
    background: tomato ;
    border: 1px solid rgb(255, 81, 50);
}

.room{
    border-style: solid;
    border-width: 10px; 
}

.room.roomFree{
    border-color:lime;
}

.room.roomBusy{
    border-color:red;
}

.rowListRoom{
    height:220px;
}

.rowListUsers{
    height:200px; 

    border-style: solid;
    border-color:blue;
    border-width: 10px;

}

.positionList{
    display: inline-block;
}

.rowButton{
    height:200px;
}





/* DA SISTEMARE */
.titolo{
    font-size: 60px;
}
input[type="submit"]{
    background-color:blue;
    color:yellow;
    border: none;
    border-radius: 15px;
    height: 60px;
    width: 120px;
    font-size: 18px;
    margin-left: 39%;
 /*   margin-top: 10px;  */
}
.reg{
    text-align: center;
    font-size: 40px;
}
.table{
    margin-top: 70px;
    border: none;
}
.line{
    height: 300px;
    width: 10px;
    background:black;
    border: 1;
}
.wrapper{
    width:100%;
    height:300px;
}

.section{
    float:left;
    margin-left: 100px;
}
.credenziali{
    margin-left: 80px;
    font-size: 20px;
}
.bottone{
    margin-left: 15px;
    height: 40px;
    border-radius: 15px;
    border: none;
   /* width: 90px;*/
}
/*.sfondo{
    background-image: url("https://st.depositphotos.com/1653909/4590/i/950/depositphotos_45904975-stock-photo-air-hockey-table.jpg");  
    width: 300%;
}  */

/*#base1{
    background:turquoise;
    width: 500px;
    height: 200px;
    
}*/

.posCredenziali{
    position: absolute;
    top: 40%;
    left: 35%;  
}
.credenziali{
    margin-top: -10px;
    margin-left: 60px;
    font-size: 20px;
}
.colBottone{
    margin-left: 100px;
}
.bottone{
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-left: 90px;
    margin-top: 10px;
}